
/.vs/Cafe_DeskApp/FileContentIndex
/.vs/Cafe_DeskApp/v17
/Cafe_DeskApp/obj
/.vs/Cafe_DeskApp/FileContentIndex
.vs/Cafe_DeskApp/FileContentIndex/9bada593-69ab-4764-8daa-407f72a628e2.vsidx
*.vsidx
.vs/Cafe_DeskApp/v17/.suo
/Cafe_DeskApp/obj/Debug
/Cafe_DeskApp/bin/Debug
.vs/Cafe_DeskApp/v17/.suo
/Cafe_DeskApp/Properties
/Cafe_DeskApp/obj/Debug
/Cafe_DeskApp/bin/Debug
/Cafe_DeskApp/obj
/Cafe_DeskApp/obj/Debug
/.vs/Cafe_DeskApp/v17
